
.main {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .headerBoxWait{
    margin-right: 14px;
    flex-grow: 1;
    h2 {
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
  .headerBoxInterest {
    margin-left: 14px;
    flex-grow: 1;
    h2 {
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
}

.section{
  display: flex;
  flex-direction: column;

  .sectionTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    h2{
      font-weight: 400;
    }
    ul{
      display: flex;
      li{
        margin-left: 15px;
        color: #ADB5BD
      }
    }
  }
}