.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 100px;
    h3{
        margin: 10px 0px 10px 0px;
    }
    span{
        margin-right: 50px;
        font-size: 14px;
    }
    .delBtn{
        color: #FA5252;
        background-color: white;
        border-style: none;
        float:right;
    }
    h5{
        color: #868E96;
        margin-bottom: 5px;
    }

img{
    background: #c4c4c4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

input{
    width: 300px;
    height: 50px;
    background: #F8F9FA;
    border-radius: 10px;  
    border: 1px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 10px 5px 0px;
    padding : 15px;
}

.addBtn{
    width: 70px;
    height: 50px;
    background: #5E80F7;
    color: #fff;
    border-style: none;
    border-radius: 10px;
}
.introduce{
    width: 690px;
    height: 250px;
    background: #F8F9FA;
    border-radius: 10px;  
    border: 1px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 10px;
    padding : 15px;
    resize : none;
}
.interest{
    width: 70px;
    height: 25px;
    color: #5E80F7;
    background: #FFFFFF;
    border: 1px solid #5E80F7;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 10px 5px 0px;
}

.profileLink{
    width:620px;
}

.button{
    width:100%;
    text-align: center;
    .completeBtn{
        width: 350px;
        vertical-align: middle; 
        height: 50px;
        background: #5E80F7;
        color: #fff;
        border-style: none;
        border-radius: 5px;
        margin-top: 40px;
    }
}

}
