@import "../../variables.scss";


.main{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  ul{
    display: flex;
    font-size: 2rem;
    li{
      color: #CED4DA;
      margin-right: 20px;
    }
  }
  div{
    color: $dev-in-blue;
  }
}

.table{
  display: flex;
  flex-direction: column;
  >div{ // rowHeader, row
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    align-items: center;

    :nth-child(1){
      flex-grow: 1;
    }
    :nth-child(2){
      flex-grow: 1;
    }
    :nth-child(3){
      flex-grow: 3;
    }
    :nth-child(4){
      flex-grow: 2;
    }
    :nth-child(5){
      flex-grow: 3;
    }

    >div{ // cell
      display: flex;
      align-items: center;
      flex-basis: 0%;
      >*{
        flex-grow: 0 !important;
        margin-right: 10px;
      }
    }
  }
  img{
    background-color: #5E80F7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .rowHeader{
    background-color: #EDF2FF;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
}

.row{
  background-color: #F8F9FA;
  margin-bottom: 10px;
  padding: 15px;
}

.tag{
  font-weight: 400;
  color: #5E80F7;
  background-color: #DCE5FE;
  padding: 2px 4px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.exper{
  color: #868E96;
  font-weight: 300;
}